/* ############################## CSS VARIABLES ############################## */
:root {
  --primaryGreen: #4b762d;
  --primaryOrange: #ffb700;
  --secondaryOrange: #fff3d6;
  --thirdOrange: #ffeec2;
  --primaryBorder: 1px solid var(--primaryGreen);
  --primaryTransition: all 0.3s linear;
  --primaryBoxShadow: 5px 5px 5px var(--primaryGreen);
}
/* ############################## UNIVERSAL STYLES ############################## */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primaryGreen);
}
img {
  display: block;
  width: 100%;
}
p {
  font-size: 2rem;
}
.page-section {
  max-width: 100%;
  padding: 90px 50px 50px 50px;
  margin: 0 auto;
}
.section-heading {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* ############################## HEADER ############################## */
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--primaryGreen);
  border-bottom: 2px solid var(--primaryOrange);
  box-shadow: 0 2px 2px var(--primaryOrange);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  color: var(--primaryOrange);
}
.link-top {
  color: var(--primaryOrange);
  text-decoration: none;
}
.topnav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3rem;
  font-weight: 700;
}
.topnav__item--link {
  text-decoration: none;
  color: var(--primaryOrange);
  padding: 8px;
  margin: 20px 0 20px 20px;
  border-radius: 20px;
  transition: var(--primaryTransition);
}
.topnav__item--link:hover {
  color: var(--primaryGreen);
  background-color: var(--primaryOrange);
}
/* ############################## HAMBURGER MENU ############################## */
@media screen and (max-width: 1000px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    padding: 10px;
    background-color: var(--primaryGreen);
    z-index: 1;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--primaryOrange);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 5px;
    background: inherit;
    z-index: 1;
  }
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger {
    background-color: var(--primaryGreen);
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: translateX(0);
    transition-duration: 0.3s;
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.3s linear 0.4s;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
  }
  .menu-wrap .menu > div {
    width: 100%;
    background-color: rgba(75, 118, 45, 1);
    transform: translateX(100%);
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div > ul > li {
    width: 100vw;
    margin: 0 auto;
    list-style: none;
    font-size: 3rem;
    font-weight: 700;
    color: var(--primaryOrange);
  }
  .menu-wrap .menu > div > div > ul > li > a {
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s linear;
    padding: 10px 0;
    border-bottom: 1px solid var(--primaryOrange);
    transition: var(--primaryTransition);
  }
  .menu-wrap .menu > div > div > ul > li > a:hover {
    background-color: rgba(75, 118, 45, 1);
    transform: translateX(-10px);
  }
}
/* ############################## BANNER ############################## */
.banner {
  position: relative;
  height: 100vh;
  color: var(--primaryOrange);
  background-color: rgba(75, 118, 45, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}
.banner__heading {
  font-size: 10rem;
  font-weight: 900;
  margin: 0 30px;
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__paragraph {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 30px 0 30px;
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryOrange);
  padding: 10px 30px;
  margin-top: 20px;
  background-color: transparent;
  border: 5px solid var(--primaryOrange);
  border-radius: 20px;
  transition: var(--primaryTransition);
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn:hover {
  color: var(--primaryGreen);
  background-color: var(--primaryOrange);
  border: 5px solid var(--primaryGreen);
  transform: scale(1.1);
}
/* ############################## BANNER ANIMATIONS ############################## */
@keyframes banner-animation {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* ############################## ABOUT US ############################## */
.about-us {
  background-color: var(--secondaryOrange);
}
.about-us__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.about-us__text--paragraph {
  text-align: justify;
}
.about-us__link {
  font-weight: 700;
  color: #0074ff;
  text-decoration: none;
}
.about-us__photo--wrapper {
  max-width: 500px;
  border: var(--primaryBorder);
  border-radius: 20px;

  overflow: hidden;
}
.about-us__photo {
  transition: var(--primaryTransition);
}
.about-us__photo:hover {
  transform: scale(1.1);
}
/* ############################## GALLERY ############################## */
.gallery {
  background-color: var(--thirdOrange);
  padding: 90px 0px 50px 0px;
}
.gallery__wrapper {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 4vw);
  gap: 10px;
}
.gallery__item {
  overflow: hidden;
}
.gallery__item--1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.gallery__item--2 {
  grid-column: 3 / 5;
  grid-row: 1 / 4;
}
.gallery__item--3 {
  grid-column: 5 / 6;
  grid-row: 1 / 4;
}
.gallery__item--4 {
  grid-column: 6 / 8;
  grid-row: 1 / 4;
}
.gallery__item--5 {
  grid-column: 8 / 9;
  grid-row: 1 / 3;
}
.gallery__item--6 {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}
.gallery__item--7 {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}
.gallery__item--8 {
  grid-column: 4 / 6;
  grid-row: 4 / 7;
}
.gallery__item--9 {
  grid-column: 6 / 8;
  grid-row: 4 / 6;
}
.gallery__item--10 {
  grid-column: 8 / 9;
  grid-row: 3 / 6;
}
.gallery__item--11 {
  grid-column: 1 / 2;
  grid-row: 6 / 9;
}
.gallery__item--12 {
  grid-column: 2 / 4;
  grid-row: 6 / 9;
}
.gallery__item--13 {
  grid-column: 4 / 6;
  grid-row: 7 / 9;
}
.gallery__item--14 {
  grid-column: 6 / 7;
  grid-row: 6 / 9;
}
.gallery__item--15 {
  grid-column: 7 / 9;
  grid-row: 6 / 9;
}
.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--primaryTransition);
}
.gallery__img:hover {
  transform: scale(1.1);
}
/* ############################## BOOKING ############################## */
.booking {
  background-color: var(--secondaryOrange);
}
.booking__form {
  max-width: 633px;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--thirdOrange);
  border: var(--primaryBorder);
  border-radius: 20px;
}
.booking__form--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: start;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
}
.booking__label {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 10px;
}
.booking__input {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryGreen);
}
.booking__input:focus {
  outline: none;
}
.input__check-in,
.input__check-out {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 3px solid var(--primaryGreen);
  border-radius: 20px;
}
.input__adults,
.input__children,
.input__rooms {
  width: 75px;
  padding: 5px;
  border: 3px solid var(--primaryGreen);
  border-radius: 20px;
}
.radio-paragraph {
  font-weight: 700;
  margin-bottom: 5px;
}
.input__room-type {
  width: 15px;
  height: 15px;
  margin: 5px 10px;
  color: var(--primaryGreen);
}
/* ############################## CONTACT US ############################## */
.contact-us {
  background-color: var(--thirdOrange);
}
.form__message {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.form {
  width: 633px;
  padding: 20px;
  margin: 0 auto 30px auto;
  background-color: var(--secondaryOrange);
  border: var(--primaryBorder);
  border-radius: 20px;
}
.form__inputs {
  display: grid;
  grid-template-areas:
    "name email"
    "message message";
  gap: 20px;
}
.input__name {
  grid-area: name;
}
.input__email {
  grid-area: email;
}
.input__message {
  grid-area: message;
  height: 100px;
}
.text__input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryGreen);
  padding: 10px;
  border: 1px solid var(--primaryOrange);
  border-radius: 20px;
}
.text__input:focus {
  border: 2px solid var(--primaryGreen);
  outline: none;
}
.form__btn {
  display: block;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primaryOrange);
  background-color: var(--primaryGreen);
  padding: 10px;
  margin: 20px auto 20px auto;
  border: 1px solid var(--primaryOrange);
  border-radius: 20px;
  transition: var(--primaryTransition);
  cursor: pointer;
}
.form__btn:focus {
  outline: none;
}
.form__btn:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.social__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.social__item--link {
  width: 100px;
  height: 100px;
  text-decoration: none;
  background-color: var(--secondaryOrange);
  border: var(--primaryBorder);
  border-radius: 50%;
  transition: var(--primaryTransition);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.social__item--icon {
  font-size: 5rem;
  text-align: center;
}
.fa-github {
  color: #4078c0;
}
.fa-stack-overflow {
  color: #ef8236;
}
.fa-linkedin-in {
  color: #0e76a8;
}
.fa-twitter {
  color: #00acee;
}
.fa-facebook {
  color: #4267b2;
}
.fa-instagram {
  color: #3f729b;
}
.social__item--link:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.social__item--link:active {
  transform: scale(1);
}
.social__item--link:focus {
  outline: none;
}
/* ############################## FOOTER ############################## */
.footer {
  background-color: var(--secondaryOrange);
  padding: 20px;
}
.footer__nav--items {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.footer__nav--item {
  display: inline-block;
  font-size: 2rem;
  list-style-type: none;
}
.footer__nav--link {
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryGreen);
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  transition: var(--primaryTransition);
}
.footer__nav--link:hover {
  color: var(--primaryOrange);
  background-color: var(--primaryGreen);
}
.copy-right {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 50px auto 0 auto;
}
/* ############################## MEDIA QUERIES ############################## */
/* ############################## MEDIA QUERIES FOR UNIVERSAL STYLES ############################## */
@media screen and (max-width: 1000px) {
  .page-section {
    padding: 90px 25px 25px 25px;
  }
}
/* ############################## MEDIA QUERIES FOR HEADER SECTION ############################## */
@media screen and (max-width: 1000px) {
  .topnav {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  .menu-wrap {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .logo__short {
    display: none;
  }
}
/* ############################## MEDIA QUERIES FOR BANNER SECTION ############################## */
@media screen and (max-width: 732px) {
  .banner__heading {
    font-size: 9rem;
  }
}
@media screen and (max-width: 700px) {
  .banner__paragraph {
    font-size: 4rem;
  }
}
@media screen and (max-width: 665px) {
  .banner__heading {
    font-size: 8rem;
  }
}
@media screen and (max-width: 598px) {
  .banner__heading {
    font-size: 7rem;
  }
}
@media screen and (max-width: 578px) {
  .banner__paragraph {
    font-size: 4rem;
  }
}
@media screen and (max-width: 531px) {
  .banner__heading {
    font-size: 6rem;
  }
}
@media screen and (max-width: 578px) {
  .banner__paragraph {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 464px) {
  .banner__heading {
    font-size: 5rem;
  }
}
@media screen and (max-width: 423px) {
  .banner__paragraph {
    font-size: 3rem;
  }
}

@media screen and (max-width: 397px) {
  .banner__heading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 371px) {
  .banner__paragraph {
    font-size: 2.5rem;
  }
  .banner__btn {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 330px) {
  .banner__heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 319px) {
  .banner__paragraph {
    font-size: 2rem;
  }
  .banner__btn {
    font-size: 2rem;
  }
}
@media screen and (max-height: 500px) {
  .banner {
    justify-content: start;
  }
  .banner__heading {
    font-size: 3rem;
    margin-top: 10rem;
  }
  .banner__paragraph {
    font-size: 2rem;
    margin-top: 5px;
  }
  .banner__btn {
    font-size: 2rem;
    margin-top: 5px;
  }
}
/* ############################## MEDIA QUERIES FOR ABOUT US SECTION ############################## */
@media screen and (max-width: 600px) {
  .about-us__wrapper {
    grid-template-columns: 1fr;
  }
}
/* ############################## MEDIA QUERIES FOR GALLERY SECTION ############################## */
@media screen and (max-width: 1000px) {
  .gallery {
    padding-bottom: 25px;
  }
}
/* ############################## MEDIA QUERIES FOR BOOKING SECTION ############################## */
@media screen and (max-width: 620px) {
  .booking__form--wrapper {
    display: block;
  }
  .label__check-in,
  .label__check-out,
  .label__adults,
  .label__children,
  .label__rooms {
    display: block;
    text-align: center;
  }
  .booking__input {
    margin: 5px auto;
  }
  .input__check-in,
  .input__check-out {
    display: block;
    width: 50%;
  }
  .input__adults,
  .input__children,
  .input__rooms {
    display: block;
    width: 100px;
  }
  .room-type {
    display: block;
    width: 100%;
    text-align: center;
  }
  .input__room-type,
  .label__room-type {
    margin: 10px 0;
  }
  .form__btn {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .input__check-in,
  .input__check-out {
    width: 80%;
  }
}

@media screen and (max-width: 410px) {
  .form__message {
    font-size: 2rem;
  }
}
/* ############################## MEDIA QUERIES FOR CONTACT US SECTION ############################## */
@media screen and (max-width: 800px) {
  .form {
    width: 100%;
  }
  .form__inputs {
    display: grid;
    grid-template-areas:
      "name"
      "email"
      "message";
    gap: 20px;
  }
}

@media screen and (max-width: 720px) {
  .social__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .social__item--link {
    width: 80px;
    height: 80px;
  }
  .social__item--icon {
    font-size: 4rem;
  }
}
@media screen and (max-width: 350px) {
  .text__input,
  .form__btn {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .social__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ############################## MEDIA QUERIES FOR FOOTER SECTION ############################## */
@media screen and (max-width: 1120px) {
  .footer__nav--items {
    grid-template-columns: 1fr;
  }
}
/* ############################## MEDIA QUERIES FOR HOVER ############################## */
@media screen and (max-width: 1024px) {
  .banner__btn:hover {
    color: var(--primaryOrange);
    background-color: transparent;
    border: 5px solid var(--primaryOrange);
    transform: scale(1);
  }
  .about-us__photo:hover {
    transform: scale(1);
  }
  .gallery__img:hover {
    transform: scale(1);
  }
  .form__btn:hover {
    transform: scale(1);
    box-shadow: none;
  }
  .social__item--link:hover {
    transform: scale(1);
    box-shadow: none;
  }
  .footer__nav--link:hover {
    color: var(--primaryGreen);
    background-color: transparent;
  }
}
